<form action="/api/employees" method="POST" id="add_employee">
    <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter your username">
        <small id="namevalid" class="form-text text-muted invalid-feedback">
            Your username must be 2-10 characters long and should not start with a number.
        </small>
    </div>

    <div class="form-group">
        <label for="car">Job category</label>
        <select class="form-control" id="jobs">
            <option>Carpenter</option>
            <option>Plumber</option>
            <option>Electrician</option>
            <option>Driver</option>
            <option>House keeping</option>
            <option>Construction</option>
            <option>Barber</option>
        </select>
        <div class="form-group">
            <label for="car">Gender</label>
            <select class="form-control" id="jobs">
                <option>female</option>
                <option>male</option>
                <option> others</option>
            </select>
        </div>
        <div class="form-group">
            <label for="address">Enter your address</label>
            <textarea class="form-control" name="address" id="address" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label for="phone">Enter your phone number</label>
            <input class="form-control" name="phone" id="phone" rows="3">
            <small id="emailvalid" class="form-text text-muted invalid-feedback">
                Your phone number must be 10 digit long
            </small>
        </div>
        <div class="form-group">
            <label for="salary">Wage expected</label>
            <select class="form-control" id="salary">
                <option> below 1000 </option>
                <option> 2000 </option>
                <option>3000</option>
                <option>4000+</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Experience(if any)</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>

        <div class="form-group">
            <label for="Status">Status</label>
            <select class="form-control" id="jobs">
                <option>Active</option>
                <option>Inactive</option>

            </select>
        </div>




        <button id="submit" class="btn btn-primary">Submit</button>
</form>