h1{
    margin:0 ;
    color: brown;
    border: 5px solid black;
    margin-top: 0;
    width: 70;
   
}

.container{
    margin: auto;
    width: 50;
   display: block ;

}
#submit{
    
     margin: auto;
}
.alert{
    margin-bottom: 0px;
}